@model BaseViewModel
@using ShopWebApp
@using System.IO;
@{
    Layout = "_AdminLayout";
    int c = 0; string name = "";
}

@section modal
{
<div class="modal fade" id="staticBackdrop" data-backdrop="modal" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Potwierdź usunięcie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Czy na pewno chcesz usunąć ten plik?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Anuluj</button>
                <a href="" id="removelink" class="btn btn-danger">Tak</a>
            </div>
        </div>
    </div>
</div>
}

<script>
function changeLink(code = '') {
      var link = document.getElementById("removelink");
      link.setAttribute("href", '/admin/photos/remove/'+code);
      return false;
};
</script>

@{
    string path = @"wwwroot/images/";
    DirectoryInfo di;
    if (!Directory.Exists(path))
        di = Directory.CreateDirectory(path);

    di = new DirectoryInfo(path);
    FileInfo[] fiArr = di.GetFiles();
    <p class="text-info text-center h5">Na serwerze @(fiArr.Count() <= 4 ? (fiArr.Count() == 1 ? "znajduje się 1 zdjęcie" : (fiArr.Count() == 0)? "znajduje się 0 zdjęć":  "znajdują się "+ fiArr.Count().ToString() + " zdjęcia"): "znajduje się " + fiArr.Count().ToString() + " zdjęć")</p><br />
    @if (Functions.PermissionLevel(Model.User.Role) >= 3)
    {
    <form enctype="multipart/form-data" method="post" action="/admin/upload">
        <input class="form-control-file" style="visibility:collapse" type="file" name="files" id="files" multiple />
        <div class="form-group row">
            <p class="col-lg-4"><span class="btn btn-block btn-outline-primary" onclick="clickById('files')">Wybierz pliki</span></p>
            <p class="col-lg-4"><input class="btn btn-block btn-outline-primary" type="submit" value="Prześlij" accept=".webp,.png,.jpg,.jpeg,.gif,.bmp" /></p>
            <p class="col-lg-4 text-muted" style="font-size: smaller">(.webp, .png, .jpg, .jpeg, .gif, .bmp)</p>
        </div>
    </form>
    }
    <br />
    @:<div class="row">
        foreach (FileInfo f in fiArr)
        {
            if (c == 6)
            {
            @:</div>
            @:<div class="row">
                c = 0;
            }
            c++;
            <div class="col-md-2 d-flex align-items-stretch" style="padding-left: 2px; padding-right: 2px">
                <div class="card" style="margin-top: 10px;">
                    <img class="card-img-top" src="~/images/@f.Name" style="margin-top: 5px; padding-left:2px; padding-right:2px">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@f.Name</h5>
                        <h6 class="card-text mb-2 text-muted">@Math.Round((f.Length / 1024.0), 1) KB</h6>
                        @if (Functions.PermissionLevel(Model.User.Role) >= 3)
                        {
                            name = f.Name;
                            <a href="" id="removebutton" class="btn card-link text-danger mt-auto" onclick="changeLink('@f.Name')" data-toggle="modal" data-target="#staticBackdrop">
                                Usuń <i class="bi-dash-circle-fill"></i>
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
}
</div>