@{
    Layout = "_Layout";
}

<div style="margin-top:35vh; text-align:center" class="fadein">
    <h2 class="text-primary">@ViewData["aboutError"]</h2>
    <h4 class="text-info">Kod błędu @ViewData["errorCode"]</h4>
</div>