@using ShopWebApp
@model BaseViewModel
@{
    Layout = "_Layout";
}
@section modal
{
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Potwierdź</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Czy na pewno chcesz opróżnić koszyk?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Anuluj</button>
                    <button type="button" onclick="clearCart(); $('#staticBackdrop').modal('hide')" class="btn btn-success">Tak</button>
                </div>
            </div>
        </div>
    </div>
}
<script>
    function clearCart() {
        $.post("/cart/remove");
        setTimeout(updateCart, 10)
    }
    function updateCart() {
        var cartTable = $.get("/cart/list", function (data) {
            document.getElementById("cartlist").innerHTML = data;
        });
    }
</script>

@section fluid {
    <br />
    <h2 style="text-align:center">Koszyk</h2>
    <br />
    <div id="cartlist">
        @await Html.PartialAsync("/Views/Shop/Partial/pv_cartlist.cshtml")
    </div>
    <div class="row">
        <div class="col-sm-4">
            <button type="button" data-toggle="modal" data-target="#staticBackdrop" class="btn btn-outline-danger btn-block btn-lg" @if (ViewBag.Cart.Count <= 0) { @: disabled
                    }>
                Wyczyść koszyk
            </button>
        </div>
        <div class="col-sm-8">
            <button type="button" class="btn btn-success btn-block btn-lg" @if (ViewBag.Cart.Count <= 0) { @: disabled
                    }>
                Zamów produkty
            </button>
        </div>
    </div>

}
